/* Top ribbon with menu bar */
header {
  font-family: Poppins;
  color: white;
  line-height: 0.8;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-bottom: 5%;
  background-color: rgb(227, 115, 131);
}

#name-logo {
  font-family: "Passions Conflict";
  font-size: 70px;
  line-height: 0;
  margin-top: 10%;
  margin-bottom: 15%;
}

/* An article including large name logo and description (inline box) */
#top-left {
  text-align: left;
  padding-left: 3%;
  float: left;
}

/* An article including email button and navigation menu (inline box) */
#top-right {
  text-align: right;
  padding-right: 3%;
}

.project {
  margin-top: 5%;
}
/* Navigation stylization */
nav {
  padding-top: 20px;
}
nav li {
  display: inline;
  padding-left: 3%;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #b5485d;
}
a:active {
  font-style: oblique;
}

/* Main content */
p {
  font-family: "Poppins";
  line-height: 2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

/* Index */
#profile-photo {
  float: left;
  margin-left: 15%;
  margin-right: 5%;
  margin-bottom: 3%;
  width: 40%;
  height: 40%;
}
#short-bio {
  margin: 5%;
  width: 80%;
}
button {
  background-color: rgb(216, 228, 188);
  font-family: "Poppins";
  border: pink;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
}

/* General photo layout */
.image {
  display: inline-flex;
  margin: 1%;
  padding: 1%;
}
.photo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  margin-top: 1%;
  height: 90%;
  width: 90%;
}
img {
  width: 500px;
  height: 500px;
}
#block-video {
  width: 640px;
  height: 480px;
  float: left;
  margin-left: 15%;
  margin-right: 3%;
  display: flex;
}

/* About me */
#bio-long {
  padding: 4.5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
}

/* Engineering project pages */
.project-title {
  text-align: center;
}

.project-image {
  float: left;
  margin-left: 15%;
  margin-right: 3%;
  display: flex;
}

.project-description {
  margin-right: 15%;
  display: flex;
}
ol {
  font-family: "Poppins";
  margin-right: 15%;
}

/* Photo grid layout */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 28%;
  max-width: 29%;
  padding: 2%; /* Changes the space between images in a single row */
}

.column img {
  margin: 6%; /* Changes the space between images in a single column*/
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.grid {
  margin-left: 0%;
  margin-right: 1%;
}
.black-link {
  color: black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#spotipy-video {
  display: flex;
  width: 80%;
  height: 700px;
  margin-left: 10%;
  margin-bottom: 10%;
}

#physics-welcome {
  margin-left: 10%;
  margin-right: 10%;
}
#physics-menu {
  background-color: lightgray;
  margin-left: 20%;
  margin-right: 20%;
}
#equation-sheet {
  margin-bottom: 5%;
}

.heading {
  margin-left: 10%;
  margin-right: 10%;
}
.description {
  margin-left: 10%;
  margin-right: 10%;
}
